.imagen-base {
  padding: 20px;
  width: 200px !important;
  height: 200px !important;
  margin: auto;
}

.titulo-secundario {
  text-align: center;
  font-family: "Luckiest Guy";
  margin: 30px 0px 30px 0px;
  color: #4e73ca;
  font-size: 40px;
}