@use "./variables" as*;


/*Body*/
body {
    background-color: $color-fondo;
}


/*Header*/

header {
    height: 100px;

    .container-fluid {
        a img {
            height: 70px;
            width: 70px;
            border-radius: 50px;
        }

        .navbar-collapse {

            ul {
                gap: 30px;

                .nav-link {
                    color: white;

                    &:hover {
                        color: #4e73ca;
                    }

                }

            }

            .form-control {
                background-color: #1b3d8d;
            }

            .btn {
                color: white;
                background-color: #1b3d8d;
                border: 1px solid white;

                &:hover {
                    color: #1b3d8d;
                    font-weight: bold;
                    background-color: #fff;
                    border: 1px solid #1b3d8d;
                }
            }




        }
    }
}

/* Footer */
footer {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        "menu horario contacto"
        "copy copy copy";
    justify-content: space-around;
    color: #ffffff;
    background-color: #4e73ca;
    padding-top: 50px;
    align-items: start;

    h3 {
        text-align: center;
        font-family: "Luckiest Guy";
        margin: 30px 0;
        color: #000d2b;
        font-size: 30px;
        font-weight: bold;
    }

    p {
        font-size: 20px;
    }

    .menu {
        grid-area: menu;

        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
        }
    }

    .horario {
        grid-area: horario;
    }

    .footercontacto {
        grid-area: contacto;
    }

    .copy {
        margin-top: 10px;
        grid-area: copy;
        text-align: center;
        color: #000d2b;
        font-weight: bold;
        font-size: 25px;
    }
}