@use "./variables" as*;


@media (max-width: 768px) {
    body{
        
    }

    /*HEADER*/
    header {
        img {
            width: 60px;
            height: 60px;
        }

        .nav-link {
            color: #ffffff;
            font-size: 18px;
        }

        .navbar {
            .collapse {
                .d-flex {
                    display: none !important;
                }

                .navbar-nav {
                    background-color: #1b3d8d;
                    text-align: center;
                    border: 1px solid white;
                    gap: 0;

                    .nav-item {
                        border: 1px solid white;
                        padding: 5px;
                    }
                }
            }

            .navbar-toggler {
                border: 0;

                &:focus,
                &:active,
                &:focus-visible {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    
    /*HOME*/
    /*seccion hero*/
    .hubhome {
        background-image: url(https://www.shutterstock.com/image-photo/breton-spaniel-dog-black-scarf-600nw-2461745759.jpg);
        background-size: cover;
        .texto-hub {
            padding: 10px;
        }

    }



    /*seccion tarjetas*/
    .tarjetas {

        h2 {
            font-size: 35px;
        }

        .padre-tarjetas {
            display: flex;
            flex-direction: column;
            margin: auto;
            row-gap: 25px;
        }

        .card{
            opacity: 0;
            transform: translateY(20px);
            animation: aparecer 5s ease forwards;

        }

        @keyframes aparecer{
            to{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    /*seccion adopcion*/
    .seccion-adopcion {
        padding: 30px;

        p {
            padding: 0px;
        }

        iframe {
            margin-bottom: 20px;
            justify-content: center;
            margin: 0px;
        }

        img {
            width: 350px;
            height: 250px;
            margin-bottom: 20px;
        }
    }

    /*PAGINA ADOPCION DE PERROS*/
    .hubperritos {
        background-image: url(../multimedia/fondo\ perritos\ hub.jpeg);
        background-size: cover;
        background-position: center;

        .texto-hub {
            padding: 20px;
        }
    }

    .pagina-adopcion {
        padding: 20px;

        .introduccion {

            .h2-pc {
                display: none;
            }

            .h2-mobile {
                text-align: center;
                font-family: "Luckiest Guy";
                margin: 30px 0px 30px 0px;
                color: $color-secundario;
                font-size: 30px;
                display: block;
            }

            p {
                padding: 0px 20px 0px 20px;
            }
        }

        .perritos-adopcion {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .reflexionfinal {
        h3 {
            padding: 0px 10px 0px 10px;
            font-size: 35px;
        }

        p {
            padding: 0px 50px 0px 50px;
        }
    }



    /* CONTACTO */

    /*hero seccion*/
    .hubcontacto {
        background-image: url(https://thumbs.dreamstime.com/b/perrito-vertical-perro-cachorro-yorkt%C3%A9s-negro-despertado-en-un-sof%C3%A1-rojo-y-listo-para-jugar-con-bola-aislada-fondo-blanco-260177258.jpg);
        background-position: center;
        background-size: cover;

        .texto-hub {
            padding: 10px;
            color: $color-texto;
        }
    }

    .seccion-contacto {
        display: flex;
        flex-direction: column;

        .pautas {

            ul,
            ol {
                margin-right: 30px;
            }

            width: 100%;
            padding: 30px;

            iframe {
                width: 300px;
                height: 200px;
            }
        }

        .conteiner-formulario {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            align-items: center;
            padding: 20px;

            .intro-formulario {
                width: 100%;
                text-align: center;

                p {
                    padding: 0px;
                }
            }

            .bloque-perros {
                display: flex;
                flex-direction: column !important;
                align-items: center;
                row-gap: 15px;

                img {
                    width: 90%;
                    max-width: 300px;
                    height: auto;
                    border-radius: 12px;
                }
            }
        }
    }





    /*FOOTER*/
    footer {
        display: grid;
        grid-template-areas: "menu"
            "horario"
            "footercontacto"
            "copy";
        margin: auto;
        text-align: center;

        .menu {
            grid-area: menu;

            ul {
                margin: 0px;
                padding: 0px;

                li {
                    list-style-position: inside;
                    text-align: center;
                }
            }
        }

        .horario {
            grid-area: horario;
        }

        .footercontacto {
            grid-area: footercontacto;
        }

        .copy {
            grid-area: copy;
        }

    }
}