* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

body {
    background-color: #000d2b;
}


/*--------------------------------------------------------------------------*/

/*HUB SECCION*/

h1 {
    font-family: "Luckiest Guy";
    font-size: 40px;
    color: #4e73ca;
    font-weight: bold;

}

.boton {
    background-color: #0026ff;
    color: white;
    padding: 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    font-size: 15px;
    text-transform: uppercase;
    border: white solid 1px;
}

.boton:hover {
    background-color: #000d2b;
    color: rgb(255, 255, 255);

}

.hubhome {
    background-image: url(../multimedia/fondo\ negro\ perro.jfif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 88vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding: 30px;
}


.texto-hub {
    font-size: 20px;
    padding-left: 150px;
    padding-right: 150px;
    font-weight: 400px;
}

.hubperritos {
    background-image: url(../multimedia/fondo\ perritos\ hub.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 85vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
    padding: 30px;
}

/*--------------------------------------------------------------------------*/

/*HEADER*/
header {
    height: 100px;
}

header a img {
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #4e73ca;
}

.form-control {
    background-color: #1b3d8d;
}

.btn {
    color: white;
    background-color: #1b3d8d;
    border: 1px solid white;
}

.btn:hover {
    color: #1b3d8d;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #1b3d8d;
}

ul {
    gap: 30px;
}

/*------PAGINA ADOPCION---------*/
.introduccion {
    text-align: center;
}

.introduccion p {
    color: white;
    font-size: 18px;
}

.h2-mobile {
    display: none;
}

.perritos-adopcion {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        "perro1 perro2 perro3"
        "perro4 perro5 perro6";
    gap: 50px;
    justify-content: center;
    text-align: center;
}


.perro1 {
    grid-area: perro1;
}

.perro2 {
    grid-area: perro2;
}

.perro3 {
    grid-area: perro3;
}

.perro4 {
    grid-area: perro4;
}

.perro5 {
    grid-area: perro5;
}

.perro6 {
    grid-area: perro6;
}


.imagen-card {
    width: 200px !important;
    height: 200px !important;
    margin: auto;
}

.reflexionfinal {
    margin-top: 70px;
}

.reflexionfinal p {
    padding: 0px 200px 0px 200px;
    text-align: center;
    color: #ffffff;
}

/*-------TARJETAS---------*/

.tarjetas {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.padre-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}

.card {
    text-align: center;
    padding: 20px;
}

.boton-tarjetas {
    background-color: #04329c;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3 ease;
    font-size: 15px;
    text-transform: uppercase;
}

.boton-tarjetas:hover {
    background-color: #000d2b;
    color: rgb(255, 255, 255);
}


.seccion-adopcion {
    text-align: center;
}

.seccion-adopcion img {
    display: none;
}

.seccion-adopcion p {
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    margin-bottom: 30px;
}

/*------PAGINA CONTACTO---------*/
.hubcontacto {
    background-image: url(../multimedia/cccc.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 88vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    padding: 30px;
}

.contacto {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.pautas {
    margin: auto;
    text-align: center;
}

.pautas li {
    list-style: inside;
    color: #fff;
}



.formulario-bloque p {
    color: #fff;
    padding: 0px 100px 0px 100px;
    text-align: center;
}



.formulario {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    color: #fff;
    background-color: #4e73ca;
    padding: 15px;
    border-radius: 20px;
}

input {
    padding: 5px;
    background-color: #fff;
}

label {
    padding: 10px;
}

select {
    margin-bottom: 10px;
}



/*------FOOTER---------*/
footer {
    margin-top: 50px;
    display: grid;
    grid-template-areas: "menu horario contacto"
        "copy copy copy";
    justify-content: space-around;
    color: #ffffff;
    background-color: #4e73ca;
    padding-top: 50px;
    align-items: start;
}

footer li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

footer h3 {
    color: #000d2b;
    font-weight: bold;
}

footer p {
    font-size: 20px;
}

.menu {
    grid-area: menu;
}


.horario {
    grid-area: horario;
}

.footercontacto {
    grid-area: contacto;

}

.copy {
    margin-top: 10px;
    grid-area: copy;
    text-align: center;
    color: #000d2b;
    font-weight: bold;
    font-size: 25px;
}


h2 {
    text-align: center;
    font-family: "Luckiest Guy";
    margin: 30px 0px 30px 0px;
    color: #4e73ca;
    font-size: 40px;
}

h3 {
    text-align: center;
    font-family: "Luckiest Guy";
    margin: 30px 0px 30px 0px;
    color: #4e73ca;
    font-size: 30px;

}


/*RESPONSIVE CELULAR - RESPONSIVE CELULAR - RESPONSIVE CELULAR - RESPONSIVE CELULAR - RESPONSIVE CELULAR*/
@media (max-width: 480px) {

    /*HEADER*/

    header a img{
        width: 60px;
        height: 60px;
    }
    .navbar .collapse .d-flex {
        display: none !important;
    }

    .navbar-toggler {
        border: 0;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler:focus-visible {
        outline: none;
        box-shadow: none;
    }

    .navbar .collapse .navbar-nav{
        background-color: #1b3d8d;
        text-align: center;
        border: 1px solid white;
        gap: 0px;
    }

    .navbar .collapse .navbar-nav .nav-item{
        border: 1px solid white;
        padding: 5px;
    }




    /* PAGINA HOME */

    /*hub seccion*/
    .hubhome {
        justify-content: center;
    }

    .hubhome P {
        padding: 20px;
    }

    /* tarjetas */
    .tarjetas h2 {
        font-size: 35px;
    }

    .padre-tarjetas {
        display: flex;
        flex-direction: column;
        margin: auto;
        row-gap: 25px;
    }

    /* porque es bueno adoptar? */
    .seccion-adopcion {
        padding: 30px;
    }

    .seccion-adopcion p {
        padding: 0px;
    }

    .seccion-adopcion img {
        width: 350px;
        height: 250px;
        margin-bottom: 20px;
    }

    .seccion-adopcion iframe {
        margin-bottom: 20px;
    }

    iframe{
        justify-content: center;
        margin: 0px;
    }

    /* PAGINA PERRITOS ADOPCION*/
    /*hub*/
    header .nav-link {
        color: #ffffff;
        font-size: 18px;
    }

    .hubperritos {
        background-image: url(../multimedia/fondo\ perritos\ hub.jpeg);
        background-size: cover;
        background-position: center;
    }

    .texto-hub {
        padding: 20px;
    }

    /*perritos en adopcion*/
    .pagina-adopcion {
        padding: 20px;
    }

    .perritos-adopcion {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .h2-pc {
        display: none;
    }

    .h2-mobile {
        display: block;
        padding: 0px 10px 0px 10px;
    }

    .introduccion p {
        padding: 0px 20px 0px 20px;
    }

    /*reflexion final*/
    .reflexionfinal h3 {
        padding: 0px 10px 0px 10px;
        font-size: 35px;
    }

    .reflexionfinal p {
        padding: 0px 50px 0px 50px;
    }

    footer{
        display: grid;
        grid-template-areas: "menu"
                             "horario"
                             "footercontacto"
                             "copy"   ;
                             margin: auto;
                             text-align: center;
    }
    
    footer .menu li{
        list-style-position: inside;
        text-align: center;
    }

    footer .menu ul{
        margin: 0px;
        padding: 0px;
    }

    .menu{grid-area: menu;}
    .horario{grid-area: horario;}
    .footercontacto{grid-area: footercontacto;} 
    .copy{grid-area: copy;}   

}