@use "../generales/variables" as*;
@use "../generales/extend";
@use "../generales/mixin" as *;

.hubcontacto {
    background-image: url(../multimedia/cccc.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 88vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-texto;
    padding: 30px;

    h1 {
        @include titulo(40px, $color-secundario);
       /* font-family: "Luckiest Guy";
        font-size: 40px;
        color: $color-secundario;
        font-weight: bold;*/
    }

    .texto-hub {
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
        font-weight: 400;
    }

    .boton {
        background-color: #0026ff;
        color: $color-texto;
        padding: 15px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: 15px;
        text-transform: uppercase;
        border: $color-texto solid 1px;

        &:hover {
            background-color: $color-primario;
            color: $color-texto
        }
    }
}


/*seccion contacto*/
.seccion-contacto {
    display: flex;
    flex-direction: row;

    .pautas {
        width: 50%;
        text-align: center;

        h3 {
            text-align: center;
            font-family: "Luckiest Guy";
            margin: 30px 0px 30px 0px;
            color: $color-secundario;
            font-size: 35px;
        }
    }

    li {
        color: $color-texto;
        list-style-position: inside;
    }

    .conteiner-formulario {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        h2 {
            text-align: center;
            font-family: "Luckiest Guy";
            margin: 30px 0px 30px 0px;
            color: $color-secundario;
            font-size: 35px;
        }

        p {
            color: $color-texto;
            padding-left: 150px;
            padding-right: 150px;
            margin-bottom: 30px;
        }

        .formulario {
            display: flex;
            flex-direction: column;
            width: 100%;
            text-align: center;
            padding: 30px;
            background-color: $color-secundario;
            border-radius: 20px;

            label {
                padding: 10px;
                color: $color-primario;
                font-weight: bold;
            }

            input {
                padding: 5px;

                &:hover {
                    background-color: grey;
                }
            }

            select {
                margin-bottom: 10px;
            }
        }


        .ultimas-adopciones {
            margin-top: 20px;

            h4 {
                font-size: 35px;
                @extend .titulo-secundario;
            }

            .bloque-perros {
                display: flex;
                flex-direction: row;
                margin-top: 20px;
                column-gap: 15px;

                img {
                    width: 300px;
                    height: 300px;
                }


            }

        }


    }


}