@use "../generales/variables" as*;
@use "../generales/extend";
@use "../generales/mixin" as*;
/*Pagina index*/
/*Hub*/
body {
    background-color: $color-primario;
}

.hubhome {
    background-image: url(../multimedia/fondo\ negro\ perro.jfif);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 88vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-texto;
    padding: 30px;

    h1 {
        font-family: "Luckiest Guy";
        font-size: 40px;
        color: $color-secundario;
        font-weight: bold;

    }

    .texto-hub {
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
        font-weight: 400;
    }

    .boton {
        background-color: #0026ff;
        color: $color-texto;
        padding: 15px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3 ease;
        font-size: 15px;
        text-transform: uppercase;
        border: $color-texto solid 1px;

        &:hover {
            background-color: $color-primario;
            color: $color-texto;
        }
    }
}

/*Tarjetas*/

.tarjetas {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    h2 {
        text-align: center;
        font-family: "Luckiest Guy";
        margin: 30px 0px 30px 0px;
        color: $color-secundario;
        font-size: 35px;
    }

    .padre-tarjetas {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 50px;

        .divpadre {
            .card {
                text-align: center;
                padding: 20px;

                .boton-tarjetas {
                    background-color: #04329c;
                    color: $color-texto;
                    padding: 10px;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                    font-size: 15px;
                    text-transform: uppercase;

                    &:hover {
                        background-color: $color-primario;
                        color: $color-texto;
                    }
                }
            }
        }

    }
}



/*Porque es bueno adoptar?*/
.seccion-adopcion {
    text-align: center;

    h2 {
        text-align: center;
        font-family: "Luckiest Guy";
        margin: 30px 0px 30px 0px;
        color: #4e73ca;
        font-size: 40px;
    }

    p {
        color: white;
        padding-left: 150px;
        padding-right: 150px;
        margin-bottom: 30px;
    }

    img {
        display: none;
    }
}


/*-----------------------------------------------------------------------------------------------------------*/