@use "../generales/variables" as*;
@use "../generales/extend";

body {
    background-color: #000d2b;
}


.hubperritos {
    background-image: url(../multimedia/fondo\ perritos\ hub.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 85vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $color-texto;
    padding: 30px;

    h1 {
        @extend .titulo-secundario;
    }

    .texto-hub {
        font-size: 20px;
        padding-left: 150px;
        padding-right: 150px;
        font-weight: 400;
    }
}

.introduccion {
    text-align: center;

    .h2-pc {
        text-align: center;
        font-family: "Luckiest Guy";
        margin: 30px 0px 30px 0px;
        color: $color-secundario;
        font-size: 40px;

    }

    .h2-mobile {
        display: none;
    }

    p {
        color: $color-texto;
        font-size: 18px;
    }

}

.perritos-adopcion {
    margin-top: 50px;
    display: grid;
    grid-template-areas:
        "perro1 perro2 perro3"
        "perro4 perro5 perro6";
    gap: 50px;
    justify-content: center;
    text-align: center;

    .perro1 {
        grid-area: perro1;

        .imagen-card {
            @extend .imagen-base;
        }
    }

    .perro2 {
        grid-area: perro2;

        .imagen-card {
            @extend .imagen-base;
        }
    }

    .perro3 {
        grid-area: perro3;

        .imagen-card {
            @extend .imagen-base;
        }
    }

    .perro4 {
        grid-area: perro4;

        .imagen-card {
            @extend .imagen-base;
        }
    }

    .perro5 {
        grid-area: perro5;

        .imagen-card {
            @extend .imagen-base;
        }
    }

    .perro6 {
        grid-area: perro6;

        .imagen-card {
            @extend .imagen-base;
        }
    }

    .card {
        transition: 0.5s;

        &:hover {
            transform: scale(1.05);
        }
    }

    .btn {
        background-color: $color-primario;
        color: $color-secundario;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;

        &:hover {
            background-color: $color-secundario;
            color: $color-primario;
            font-weight: bold;
            font-size: 15px;
            text-transform: uppercase;
            border: 2px solid #000d2b;
        }
    }


}

.reflexionfinal {
    margin-top: 70px;

    h3 {
        text-align: center;
        font-family: "Luckiest Guy";
        margin: 30px 0px 30px 0px;
        color: $color-secundario;
        font-size: 30px;
    }

    p {
        padding: 0px 200px 0px 200px;
        text-align: center;
        color: $color-texto;
    }
}